{% extends "layout.html" %}
{% block bodyContent %}
    <div class="profile-container">
        <div class="profile-image">
            <img class="rounded-circle account-img" src="../static/images/f_pat_2.jpeg">
            
        </div>
        <div class="profile-body">
            <h2 class="profile-heading">{{ doctor.firstName }} {{ doctor.lastName }}</h2>
            <p class="text-secondary">{{ doctor.age}}</p>
            <p class="text-secondary">{{ doctor.gender }}</p>
            <p class="text-secondary">{{ doctor.specialization }}</p>
        </div>
    </div>
    <div class="patient-info">
        <table class="table">
          <thead >
            <tr class="table-row-color">
              <th scope="col">Patient ID</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Age</th>
              <th scope="col">Gender</th>
              <th scope="col" class="text-center">Consultation Data</th>
            </tr>
          </thead>
          <tbody>
            {% for p in doctor.patients %}
            <tr>
              <th scope="row">{{p.id}}</th>
              <td>{{p.firstName}}</td>
              <td>{{p.lastName}}</td>
              <td>{{p.age}}</td>
              <td>{{p.gender}}</td>
              <td class="text-center"><a href="{{ url_for('patient_profile', patient_id=p.id) }}" class="btn btn-success mx-2">View</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
{% endblock bodyContent %}