{% extends "layout.html" %}
{% block bodyContent %}
    <div class="profile-container">
        <div class="profile-image">
            <img class="rounded-circle account-img" src="../static/images/02.jpg">
        </div>
        <div class="profile-body">
            <h2 class="profile-heading">{{ doctor.firstName }} {{ doctor.lastName }}</h2>
            <p class="text-secondary">{{ doctor.age}}</p>
            <p class="text-secondary">{{ doctor.gender }}</p>
            <p class="text-secondary">{{ doctor.specialization }}</p>
        </div>
    </div>
    {% for p in doctor.patients %}
    <div>        
        <p>{{ p }}</p>
    </div>    
    {% endfor %}

{% endblock bodyContent %}