{% extends "layout.html" %}
{% block bodyContent %}
<div class="patient-form-container">
  <form method="POST" action="">
    <!-- CSRF Token -->
    {{ form.hidden_tag() }}
    <legend class="border-bottom mb-4">Add a Patient</legend>
    <div class="row">
      <div class="col">
        {{ form.firstName.label(class="form-control-label") }}
        {{ form.firstName(class="form-control form-control-lg") }}
      </div>
      <div class="col">
        {{ form.lastName.label(class="form-control-label") }}
        {{ form.lastName(class="form-control form-control-lg") }}
      </div>
    </div>
    <div class="row">
      <div class="col">
        {{ form.age.label(class="form-control-label") }}
        {{ form.age(class="form-control form-control-lg") }}
      </div>
      <div class="col">
        {{ form.gender.label(class="form-control-label") }}
        {{ form.gender(class="form-control form-control-lg") }}
      </div>
      <!-- <div class="col">
        {{ form.gender.label(class="form-control-label") }}
        {{ form.gender(class="form-control form-control-lg") }}
      </div> -->
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
  </div>
  </form>
</div>
<!-- Patient Table will go here -->
<div class="patient-info">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Patient ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
      </tr>
    </thead>
    <tbody>
      {% for p in patient %}
      <tr>
        <th scope="row">{{p.id}}</th>
        <td>{{p.firstName}}</td>
        <td>{{p.lastName}}</td>
        <td>{{p.age}}</td>
        <td>{{p.gender}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock bodyContent %}