{% extends "layout.html" %}
{% block bodyContent %}
<div class="patient-form-container">
  <form method="POST" action="">
    <!-- CSRF Token -->
    {{ form.hidden_tag() }}
    <legend class="border-bottom mb-4 py-2">Add a Patient</legend>
    <div class="row">
      <div class="col">
        {{ form.firstName.label(class="form-control-label") }}
        {{ form.firstName(class="form-control form-control-lg") }}
      </div>
      <div class="col">
        {{ form.lastName.label(class="form-control-label") }}
        {{ form.lastName(class="form-control form-control-lg") }}
      </div>
    </div>
    <div class="row py-2">
      <div class="col">
        {{ form.age.label(class="form-control-label") }}
        {{ form.age(class="form-control form-control-lg") }}
      </div>
      <div class="col">
        {{ form.gender.label(class="form-control-label") }}
        {{ form.gender(class="form-control form-control-lg") }}
      </div>
      <!-- <div class="col">
        {{ form.gender.label(class="form-control-label") }}
        {{ form.gender(class="form-control form-control-lg") }}
      </div> -->
    </div>
    <div class="form-group submit-btn py-2">
      {{ form.submit(class="btn btn-primary") }}
  </div>
  </form>
</div>
<!-- Patient Table will go here -->
<div class="patient-info">
  <table class="table table-hover table-fixed">
    <thead>
      <tr class="table-row-color">
        <th scope="col">Patient ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
        <th scope="col" class="text-center">Update</th>
        <th scope="col" class="text-center">View Profile</th>
        <th scope="col" class="text-center">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for p in patients.items %}
      <tr>
        <th scope="row">{{p.id}}</th>
        <td>{{p.firstName}}</td>
        <td>{{p.lastName}}</td>
        <td>{{p.age}}</td>
        <td>{{p.gender}}</td>
        <td class="text-center"><a href="{{ url_for('updatePatient', patient_id=p.id) }}" class="btn btn-warning mx-2">Update</a></td>
        <td class="text-center"><a href="{{ url_for('patient_profile', patient_id=p.id) }}" class="btn btn-success mx-2">View</a></td>
        <td class="text-center"><a href="{{ url_for('deletePatient', patient_id=p.id)}}" class="btn btn-danger mx-2">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- below navigation is customised and addition have been done to it.
  taken from https://betterprogramming.pub/simple-flask-pagination-example-4190b12c2e2e -->
  <div class="table-pagination">
    <span>
      <a href="{{ url_for('home_doctor', page=patients.prev_num) }}" class="btn btn-outline-info mt-4 {% if patients.page == 1 %}disabled{% endif %}">Prev</a>
    </span>
    <span class="mx-3">
      {% for page_num in patients.iter_pages(left_edge=1, right_edge=1, left_current=0, right_current=0) %}
        {% if page_num %}
          {% if patients.page == page_num %}
            <a class="btn btn-info mt-4">{{ page_num }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </span>
    <span>
      <a href="{{ url_for('home_doctor', page=patients.next_num) }}" class="btn btn-outline-info mt-4 {% if patients.page == patients.pages %}disabled{% endif %}">Next</a>
    </span>
  </div>
</div>
{% endblock bodyContent %}