{% extends "layout.html" %}
{% block bodyContent %}
<div class="consultation-form-container">
  <form method="POST" action="">
      <!-- CSRF Token -->
      {{ form.hidden_tag() }}
      <legend class="border-bottom mb-4 py-2">Add Consultation Details</legend>
      <div class="col">
        {{ form.description.label(class="form-control-label") }}
        {{ form.description(class="form-control form-control-lg") }}
      </div>
      <div class="col">
        {{ form.doctor.label(class="form-control-label") }}
        {{ form.doctor(class="form-control form-control-lg") }}
      </div>
      <div class="form-group submit-btn py-2">
        {{ form.submit(class="btn btn-primary") }}
      </div>
  </form>
</div>
{% endblock bodyContent %}