{% extends "layout.html" %}
{% block bodyContent %}
    <div class="profile-container">
        <div class="profile-image">
            <img class="rounded-circle account-img" src="../static/images/f_pat_2.jpeg">
        </div>
        <div class="profile-body">
            <h2 class="profile-heading">{{ patient.firstName }} {{ patient.lastName }}</h2>
            <p class="text-secondary">{{ patient.age}}</p>
            <p class="text-secondary">{{ patient.gender }}</p>
        </div>
    </div>

    <!-- Patient Consultation Table -->
    <div class="patientConsultation-info">
        <div>Consultation Date</div>
        <div>
            <h5>Description</h5>
            <p></p>
        </div>
        <div>
            <a href="#" class="btn btn-warning mx-2">Update</a>
            <a href="#" class="btn btn-danger mx-2">Delete</a>
        </div>
    </div>
{% endblock bodyContent %}