{% extends "layout.html" %}
{% block bodyContent %}
<div class="profile-container">
    <div class="profile-image">
        <img class="rounded-circle account-img" src="../static/images/f_pat_2.jpeg">
    </div>
    <div class="profile-body">
        <h2 class="profile-heading">{{ patient.firstName }} {{ patient.lastName }}</h2>
        <p class="text-secondary">{{ patient.age}}</p>
        <p class="text-secondary">{{ patient.gender }}</p>
        <div><a href="{{ url_for('patientConsultation', patient_id=patient.id) }}" class="btn btn-primary mx-2">Add a Consultation</a></div>
    </div>
</div>
    <!-- Patient Consultation Table -->
<div class="patientConsultation-info">
<table class="table table-hover table-fixed">
    <thead>
    <tr class="table-row-color">
        <th scope="col">Ref No.</th>
        <th scope="col">Consultation Date</th>
        <th scope="col">Description</th>
        <th scope="col">Doctor</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for c in consultation %}
    <tr>
        <td>{{c.id}}</td>
        <td>{{c.date_consultation.strftime('%d-%m-%Y')}}</td>
        <td>{{c.description}}</td>
        <td>{{doctor[c.doctor]}}</td>
        <td><a href="{{ url_for('updateConsultation', patient_id=patient.id, consultation_id=c.id)}}" class="btn btn-warning mx-2">Update</a></td>
        <td><a href="{{ url_for('deleteConsultation', patient_id=patient.id, consultation_id=c.id)}}" class="btn btn-danger mx-2">Delete</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<!-- below navigation is customised and addition have been done to it.
  taken from https://betterprogramming.pub/simple-flask-pagination-example-4190b12c2e2e -->
  <div class="table-pagination">
    <span>
      <a href="{{ url_for('patient_profile', patient_id=patient.id, page=consultation.prev_num) }}" class="btn btn-outline-info mt-4 {% if consultation.page == 1 %}disabled{% endif %}">Prev</a>
    </span>
    <span class="mx-3">
      {% for page_num in consultation.iter_pages(left_edge=1, right_edge=1, left_current=0, right_current=0) %}
        {% if page_num %}
          {% if consultation.page == page_num %}
            <a class="btn btn-info mt-4">{{ page_num }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </span>
    <span>
      <a href="{{ url_for('patient_profile', patient_id=patient.id, page=consultation.next_num) }}" class="btn btn-outline-info mt-4 {% if consultation.page == consultation.pages %}disabled{% endif %}">Next</a>
    </span>
  </div>
</div>
{% endblock bodyContent %}