* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(244, 246, 248);
}
.navcolor{
    background-color: rgb(7, 1, 55)!important;
}

.login-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:antiquewhite;
    flex-direction: column;
    
}

.navbar-nav{
    display: flex;
    align-items: end;
    justify-content: space-evenly;
}
    
.logout{
    display: inline;
    align-items: end;
}

.submit-btn{
    float:right;
}

.profile-container {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    height: 18rem;
    width: 100%;
    display: flex;
    justify-content: space-between;

  }
  
  .profile-image {
    height: 125px;
    width: 30%;
    margin-right: 20px;
    margin-bottom: 16px;
}

.profile-image{
    width: 125px;
    
}

.profile-body{
    width: 70%;
    font-size: 1.5rem;
}

.profile-heading {
font-size: 2.5rem;
}

.table-row-color{
    color: #ffffff;
    background-color: rgb(7, 1, 55)!important;
}

.table-pagination{
    display: flex;
    align-items: center;
    justify-content: center;
}

.reports{
    display: flex;
    align-items: center;
    justify-content: center;
}

.reports h1{
    padding: 2.5rem;
}

.reports-table{
    display: flex;
    align-items: center;
    justify-content: center;
}