* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

.login-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:antiquewhite
}

.navbar-nav{
    display: flex;
    align-items: end;
    justify-content: space-evenly;
}
    
.logout{
    display: inline;
    align-items: end;
}

.submit-btn{
    padding-top: 2rem;
    float:right;
}